body {
    font-family: 'Be Vietnam', sans-serif;
}

.logo {
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 1vh;
}

@media only screen and (orientation: portrait) {
    .logo {
        margin-top: 0;
    }
}

.logo a {
    text-decoration: none;
    color: #0F242A;
}

.logo img {
    height: 40px;
    width: 40px;  
}


.banner-container {
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.banner-container > div {
  display: table-cell;
  vertical-align: middle;
}

.banner {
  margin-left: auto;
  margin-right: auto;
}

.main-section-container {
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 10px, 
        #91E1E4 100px, 
        #91E1E4 200px),
    repeating-linear-gradient(
        to right, 
        #A7F9FA, 
        #A7F9FA 10px, 
        #91E1E4 100px, 
        #91E1E4 200px);
}

.main-section-title-container {
    display: table;
}

.main-section-title {
    display: table-cell;
    vertical-align: middle; 
    font-size: 10.5vw;
    padding: 0 15vw;
    color: #08414C;
}

@media only screen and (orientation: portrait) {
    .main-section-title {
        font-size: 15vw;
    }
}
.members-total-container {
    background: repeating-radial-gradient(
        circle,
        #B7E2FF,
        #B7E2FF 100px,
        #99CDF6 100px, 
        #99CDF6 200px
        );
}

.members-total {
    font-size: 14vw;
    padding: 0 10vw;
    text-align: center;
}

.members-growing {
    font-size: 5vh;
    text-align: center;
}

.members-total, .members-growing {
    color: #002f6c;
}

.mission .title {
    font-size: 8vw;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    .mission .title {
        font-size: 8vh;
        text-align: center;
    }   
}

.mission .description {
    font-size: 8vh;
    text-align: center;
}

.mission-container {
    background-color: #1976d2;
}

.mission .title {
    color: white;
}

.mission .description, .speaking {
    color: #1976d2;
}

.mission-details-container, .volunteering-details-container {
    background: url("images/dot.png");
    background-repeat: repeat;
}

.mission-details {
    color: #1976d2;
}

.details .title {
    font-size: 4vw;
}

.details > div {
    font-size: 2.35vw;
    padding: 5vw;
    margin: 0 6vw;
    width: 75vw;
}

@media only screen and (orientation: portrait) {
    .details .title {
        font-size: 4vh;
    }

    .details > div {
        font-size: 2.7vh;
        padding-top: 5vh;
        width: 85vw;
    }
}

.volunteer-container {
    background: url("images/i-love-ai.png");
    background-repeat: repeat;
}

.volunteer {
    color: #1976d2;
}

.volunteering-details {
    color: #1976d2;
}

.volunteering-details ul {
    margin: 0;
}

.title {
    padding-bottom: 3vh;
}

.meetup-container {
    background: repeating-linear-gradient(
            to right,
            #e6ffff,
            #e6ffff 100px,
            #e1f5fe 100px,
            #e1f5fe 200px
        );
}

.meetup {
    color: #002f6c;
}

.sponsors {
    color: #1976d2;
}

.sponsors .title {
    font-size: 3vw;
    padding-bottom: 0;
}

.sponsors > div {
    padding: 5vw 2vw 2vw 2vw;
    width: 95vw;
}

@media only screen and (orientation: portrait) {
    .sponsors .title {
        font-size: 3.5vh;
        margin-bottom: 2vh;
    }

    .sponsors > div {
        font-size: 3.2vh;
        padding-top: 6vh;
    }    
}

.sponsor-title {
    display: none;
}

.sponsors .description {
    font-size: 1.9vw;
    text-align: center;    
}

.sponsors .bottom-row {
    width: 65vw;
    margin: auto;
}

.sponsors .top-row > div, .sponsors .bottom-row > div {
    margin: 2vw;
    width: 27vw;
    height: 30vh;
    float: left;
}

.sponsors .description img {
    height: 5vw;
}

.sponsors .description svg {
    height: 5vw;
}

@media only screen and (orientation: portrait) {
    .sponsors .bottom-row {
        width: 100vw;
    }
    
    .sponsors .top-row > div, .sponsors .bottom-row > div {
        margin: 3vh 0;
        width: 95vw;
        height: 15vh;
        float: none;
    }
    
    .sponsors .description img {
        height: 5vh;
    }
    
    .sponsors .description svg {
        height: 5vh;
    }

    .sponsors .description {
        font-size: 2.3vh;
    }
}

.meetup-about {
    width: 70vw;
}

.meetup-about p {
    font-size: 2.4vw;
    margin-top: 0;
}

@media only screen and (orientation: portrait) {
    .meetup-about p {
        font-size: 2.5vh;
    }
}

.volunteer .description, .volunteering-details .description {
    font-size: 2.2vw;
}

@media only screen and (orientation: portrait){
    .meetup-about {
        width: 80vw;
    }

    .volunteer .title, .volunteering-details .title {
        font-size: 4.5vh;
    }

    .volunteer .description, .volunteering-details .description {
        font-size: 2.4vh;
    }
}

.content-container {
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 5px, 
        #e6ffff 5px, 
        #e6ffff 20px),
    repeating-linear-gradient(
        to right, 
        #e1f5fe, 
        #e1f5fe 20px, 
        #e6ffff 20px, 
        #e6ffff 40px);
}

.content {
    color: #002f6c;
}

.content-links > div {
    float: left;
    margin: 0.5vw;
}

.content-additional-info {
    clear: both;
}

.content-links img {
    height: 20vh;
}

@media only screen and (orientation: portrait) {
    .content-links > div {
        float: none;
        margin: 0;
    }
    
    .content-links img {
        height: 10vh;
    }   
}